@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
    --text-color: #242582;
    --text-color-dark: #252424;
    --header-font: 30px;
    --text-font: 18px;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.container {
    padding: 0 10%;
}

.title {
    border-bottom: 3px solid #0000001f;
    width: fit-content;
    margin: 60px auto;
    font-size: var(--header-font);
    color: var(--text-color);
    font-weight: 400;
}

.lead {
    font-size: 18px;
    color: var(--text-color);
    font-weight: 300;
    line-height: 1.8;
}

body {
    background-color: #EDF5E1;
    position: relative;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    position: fixed;
    background-color: #EDF5E1;
    top: 0;
    left: 0;
    z-index: 4;
}

nav .logo {
    font-size: 35px;
    font-weight: 600;
    font-style: oblique;
    color: var(--text-color);
    text-shadow: 0 0 2px var(--text-color);
    
}

.navLinks ul {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2em;
    list-style: none;
}

.navLinks ul li a {
    color: var(--text-color);
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
    position: relative;
}

.navLinks ul li a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 0;
    margin: 0 auto;
    background-color: var(--text-color);
    transition: width 200ms ease;
}

.navLinks ul li a:hover::before {
    width: 100%;
}

header {
    margin-top: 100px;
    padding: 0 10%;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url('/img/bg2c.jpg');
    position: relative;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: #0000003c;
    display: flex;
    align-items: center;
}

header h1 {
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    color: #fff;
}

.assignment {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.assignmentBox {
    display: flex;
    width: 100%;
    gap: 2em;
}

.preview {
    flex: 1;
    width: 100%;
    height: 300px;
    border: 2px solid greenyellow;
}

.members {
}


.membersBox {
    display: flex;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

.member {
    flex: 1;
    width: 100%;
    min-width: 307px;
    max-width: 258px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 0 0 5px 2px rgba(36, 38, 130, 0.623); */
}

.member img {
    width: 100%;
    border-radius: 25px 10px;
}

.desc {
    padding: 10px 0;
    width: 100%;
    text-transform: uppercase;
}

.member h3 {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.member p {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: var(--text-color);
}

.about {
    margin: 80px 0;

}

footer {
    width: 100%;
    padding: 20px 10%;
    border-top: 2px solid #0000001f;
    text-align: center;
}

footer span {
    font-size: 14px;
    font-weight: 200;
    color: var(--text-color);
}


